body {
  background: linear-gradient(
    109.6deg,
    rgb(6, 2, 2) 32.4%,
    rgb(137, 30, 47) 98.8%
  );
}
.App {
  color: white;
}

.App footer {
  font-size: 13px;
  margin: 10px 0;
  text-align: center;
  font-family: monospace;
}
