.Weather {
  border: 1px solid;
  padding: 20px;
  font-family: arial, sans-serif;
  border-radius: 4px;
  color: #ffffff;
  margin: 80px auto;
  width: 950px;
}

.Weather h1 {
  font-size: 35px;
  line-height: 30px;
  margin-top: 20px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
  opacity: 0.8;
}
.Weather svg {
  position: relative;
  top: 5px;
}
.Weather .temperature-unit {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  top: -15px;
  left: -17px;
  line-height: 1;
}

.Weather .temperature {
  position: relative;
  top: 15px;
  font-size: 64px;
  font-size: bold;
  font-weight: 400;
  color: rgb(232, 234, 237);
}
.Weather .weather-description {
  position: relative;
  top: 30px;
}

.WeatherData {
  margin-bottom: 15px;
}
.WeatherData .row {
  margin-top: 5px;
}
